*{

margin: 0px;
padding: 0px;

}

body{
    background-image: url('https://64.media.tumblr.com/d6d0246ca0dffa230f03be2521b3210f/tumblr_obfjz6Bd9f1runoqyo2_r1_540.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


 
.navbar{
    display: flex ;
    background-color: darkred;
    width: auto;
    height: 55px;
    justify-content: flex-end;

    
}
.navbar ul li:first-child{
    margin-left: 1400px;
}
.navbar ul li {
    list-style: none;
    margin-left: 5px;
 display: inline-block;
 padding: 10px;

}
.navbar ul li a{
    background-color: white;
    font-size: 26px;
    text-decoration: none;
    color: black;
    height: 100%;
    border: 3px solid white;
    
}

.navbar ul li a:hover{

    background-color: white;
    color:darkred;
    border: 3px solid black;
}

.logo {
    
    width: 10px;
    height: 8px;
    scale: 4%;
}
.logo img{
    display: flex;

}




.header{
  
margin: 40px 242px;
width: 1414px ;
height: 1000px;
background-color: rgba(255, 255, 255, 0.1);
padding: 10px;

}

.hero{
display: flex;

}


.left h1 {
    color:darkred;
    font-size: 50px;
}
.left ul li{
    color: white;
    font-size: large;
   
}
.left p{
    color: white;
    font-size: large;
}


.left button{
background-color:red;
width: 100px;
height: 50px;
margin: 35px 10px;
border: 3px solid white;
font-size: large;
}

.left button:hover{

background-color: white;
border: 3px solid red;


}




.title{
    display: flex;
    justify-content: center;
}

.title h1{
    font-size: 40px;
    color:darkred;
}

.mid{
margin: 40px 242px;
width: 1414px ;
height: 700px;
background-color: rgba(255, 255, 255, 0.1);
padding: 10px;

}
.illu{
margin: 75px 10px;
display:flex;
justify-content: space-between;
width: auto;
height: auto;


}
.illu figure{
width: 300px;
height: 150px;

}

.illu img{
    border: 5px double darkred;
    width: 270px;
    height: 270px;
}
.illu figcaption{
     

    color: white;
}



.quote{

    margin: 40px 242px;
    width: 1414px ;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;

}

.vader{
    padding: 200px;
    text-align: center;
    color: darkred;
}

.vader h1 a{
 color:darkred;
font-size: 60px;
}
.vader h1 a:hover{
font-size: 57px;

}

.vader p{
    text-align: end;
    font-size: 30px;
}

footer{
    width: auto;
height: 70px;
background-color: rgba(255, 255, 255, 0.1);
}

.footer h3{
    padding: 20px;
color: rgb(255, 255, 255);
    text-align: center;
}